<a href="https://colab.research.google.com/github/Mikhelfebian/Praktikum_AVD_Mikhel_Febian/blob/main/Checkpoint_1_AVD_Mikhel_Febian.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Judul: Student Performance in Exams**

    Mikhel Febian

    2509116056

    Kelas B

##**Import Library**

In [1]:
import pandas as pd

##**Memuat Dataset**

In [7]:
dataset_gweh = '/content/StudentsPerformance.csv'
baca_dataset = pd.read_csv(dataset_gweh)

In [8]:
baca_dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

##**Business Understanding**
Pada Business Understanding kita akan menentukan tujuan dari data yang kita miliki dengan langkah-langkah yang ada, misalnya dari Data diatas kita ingin mengetahui siswa yang nilai nya tinggi itu latar belakangnya seperti apa dan faktor-faktor apa saja yang membuat mereka bisa mendapatkan nilai tersebut.

1. **Business Objective**

    Pada proses ini kita akan mencari tahu rahasia siswa berprestasi agar bisa membantu siswa yang lain.

2. **Assess Situation**

    Kita punya data 1000 siswa dengan nilai matematika, membaca, menulis, dan latar belakang mereka.

3. **Analytic Goals**

    Kita akan memisahkan siswa "Pintar" yang nilai rata-rata > 85 dan melihat karakteristik mereka.

4. **Project Plan**

    Kita akan membuat program yang berfungsi untuk menghitung nilai rata-rata, memisahkan siswa yang pintar dan memvisualisaasikan datanya. Cara Kerja dimulai dengan Buka data -> Hitung rata-rata -> Cari yang nilainya tinggi -> Lihat profilnya (visualisasi).